
// Override this file to add your own SCSS styling.



html, body {

  font-family: montserrat,PingFang SC,Microsoft YaHei,微软雅黑,STXihei,华文细黑,sans-serif;
  font-size: 18px;
  color: #000;

}



.wg-home-slide {
  background-color: #ffffff;
}


#section-recent-works {
  .card {
    min-height: 480px;
  }
}


#navbar-main .main-menu-item ul li .nav-link {
  color: #000;
}
#section-hero {
  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 1rem;
    height: 1rem;
  }

  .hero-title {
    font-size: 3rem;
    padding: 3rem;
    text-align: center;
  }
  .hero-desc-txt {
    font-size: 1.12rem;
    text-align: justify;
  }
}


.section-c-title{
  font-size: 2.2rem;
  padding: 2rem;
  text-align: center;
}

.common-block-title {
  font-size: 2.2rem;
  padding: 2rem 0 1rem 0;
}



#section-news {
  h1 {
    font-size: 1.4rem;
  }

  .card-simple .article-title {
    font-size: 0.8rem;
  }
  .card-simple .article-style {
    font-size: 0.8rem;
  }

  ul {
    list-style: none;
  }


}

#section-members {


  .card-body  {
    padding: 0;
    text-align: center;
  }

  .card-text  {
    padding: 0.2rem 1rem;
  }
  .m-role {
    color: #666;
  }



}




.members-list-page{
  .group-name {
    font-weight: bold;
  }
  .people-person {
    margin-top: 1rem;
    .avatar-title{


      .user-icon-avatar {
        font-size: 2rem;
        height: 150px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid lightgray;
      }
    }

  }

}




.gap-y-16 {
  row-gap: 4rem;
}
.gap-x-6 {
  column-gap: 1.5rem;
}
.gap-x-12 {
  column-gap: 3rem;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid {
  display: grid;
}


.pub-list-item  {
  .pub-title {
    font-weight: bold;
  }
}

.site-footer .powered-by {
  display: none;
}



@media (max-width: 478px) {
  .navbar-brand {
    margin: 0 auto;
  }
}


@media (min-width: 780px) {
  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }

  .lg\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr)) !important;
  }
}
